<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
</head>

<body>
    {% block content %}
    <h1 class="">About page.</h1>
    <div class="" style="  flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);">
        <a class="btn btn-outline-dark" href="https://github.com/nova-sangeeth/QnA-application">GitHub Link for the
            source</a>
    </div>
    {% endblock content %}
</body>

</html>