{% extends "base.html" %}
{% block content %}

<div id="mainArticle">

    {% for question in page_obj %}
    <div class="" id="rcorners1">
        <div class='' style="font-size: px;color: rgb(54, 54, 54);">
            <a style=" text-decoration: none;" href="/question/{{question.id}}">{{ question.title }}
                <span class="d-flex justify-content-end">({{ question.num_answers }} comments and
                    {{ question.points }}
                    points) </span>
            </a>
        </div>
    </div>
    {% endfor %}
    <div class="pagination" style="margin-bottom: 3; margin-top: 10">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">&laquo; previous</a>
            {% endif %}

            <span class="current text-secondary" ">
                page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
            <a href=" ?page={{ page_obj.next_page_number }}">next &raquo;</a>
                {% endif %}
            </span>
    </div>
</div>
{% endblock %}