{% extends "base.html" %}

{% block content %}
<div class="container" style="position: absolute; top: 100px;">
    <p class="display-4" style="font-size: 45px;">Your Answers.</p>
    {% for answer in answers %}
    <div class="alert alert-primary">
        <p style="margin-bottom: 1">
            <a href="/question/{{answer.question.id}}">{{ answer.question.title }} <span
                    class="text-secondary num-answers">({{ answer.question.num_answers }} comments)</span></a>
        </p>
        <div class='answer-block'>
            <div class='text-secondary' style="font-size: 14px">{{ answer.user }}<span
                    style="margin-right: 6px; margin-left: 6px;">|</span></span>{{ answer.x_ago }}</div>
            <div style="margin-bottom: 20px">{{ answer.text | urlize }}</div>
        </div>

    </div>
    {% endfor %}
    {% if not answers_exist %}
    <div class="alert alert-primary">
        <p class="lead" style="font-size: 30px;">You haven't answered any questions yet.</p>
    </div>
    {% endif %}
</div>

{% endblock %}