{% extends "base.html" %}

{% block content %}
<div class="container" style="position: absolute; top: 100px;">

    <p class="display-4" style="font-size: 45px;">Your Questions.</p>
    {% for question in questions %}
    <div class="alert alert-success">
        <p>
            <a href="/question/{{question.id}}">{{ question.title }} <span
                    class="text-secondary num-answers">({{ question.num_answers }} comments)</span></a>
        </p>

    </div>
    {% endfor %}
    {% if not questions_exist %}
    <p>You haven't asked any questions yet.</p>
    {% endif %}
</div>
{% endblock %}