{% extends "base.html" %}

{% block content %}
<div class="container">

    <p class="display-4" style="font-size: 45px;">Your Questions.</p>
    {% for question in questions %}
    <div id="rcorners2" style="justify-content: center;">
        <p>
            <a href="/question/{{question.id}}" style="text-decoration: none;">{{ question.title }} <span
                    class="text-secondary num-answers">({{ question.num_answers }} comments) {{ question.points }}
                    points
                </span></a>
        </p>
    </div>

    {% endfor %}
    {% if not questions_exist %}
    <div>
        <a class="lead" href="{%  url 'new'  %}" style="font-size: 30px;  text-decoration: none;">You haven't asked any
            question(s)
            yet.</a>
    </div> {% endif %}
</div>
{% endblock %}