{% extends "base.html" %}

{% block content %}
<div class="container">

    <p class="display-4" style="font-size: 45px;">Your Questions.</p>
    {% for question in questions %}
    <div style="justify-content: center;">
        <p>
            <a href="/question/{{question.id}}" style="text-decoration: none;">{{ question.title }} <span
                    class="text-secondary num-answers">({{ question.num_answers }} comments) {{ question.points }}
                    points
                </span></a>
        </p>

    </div>
    {% endfor %}
    {% if not questions_exist %}
    <p>You haven't asked any questions yet.</p>
    {% endif %}
</div>
{% endblock %}