{% extends 'base.html' %}

{% block content %}
<div class="container">
    <p class="display-4" style="font-size: 45px;">
        User Profile Page.
    </p>
    <ul>
        <li class='lead'>Username: {{ user.username }}</li>
        <li class='lead'>Email: {{ user.email }}</li>
        <li class='lead'>Date Joined: {{ user.date_joined }}</li>
        <li class='lead'>Last login: {{ user.last_login }}</li>

        {% for items in data  %}
        <li class='lead'>Country: {{ items.Country }}</li>
        <li class='lead'>Phone: {{ items.Phone }}</li>

        {% endfor %}
    </ul>
    <a class="btn btn-outline-danger" href="{% url 'account_email' %}">Change Email</a>
    <a class="btn btn-outline-warning" href="{% url 'edit_profile' %}">Edit Details</a>
</div>
{% endblock content %}