{% extends 'base.html' %}

{% block content %}
<div class="container" style="top: 75px;
        position: absolute;
">
    <p class="display-4" style="font-size: 45px;">
        User Profile Page.
    </p>
    <ul>
        <li class='lead'>Username: {{ user.username }}</li>
        <li class='lead'>Email: {{ user.email }}</li>
        <li class='lead'>Date Joined: {{ user.date_joined }}</li>
        <li class='lead'>Last login: {{ user.last_login }}</li>
    </ul>
    <a class="btn btn-outline-danger" href="{% url 'account_email' %}">Change Email</a>
</div>
{% endblock content %}